

.demo {
  display: inline-block;
  width: 24%;
  padding: 10px;
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
}
.demo textarea {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  font-family: "Roboto";
  font-size: 0.9em;
  height: 32px;
  padding: 6px 0px;
  resize: none;
  text-align: center;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

img {
  border: none;
}
small {
  display: block;
}
p {
  font-family: 'Roboto', sans-serif;
  margin: 0 0 15px;
}



@media only screen and (max-width: 959px) {
  .demo {
    width: 32.5%;
  }
}
@media only screen and (max-width: 659px) {
  .demo {
    width: 49%;
  }
  .intro,
  .download {
    max-width: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 360px) {
  .demo {
    width: 100%;
  }
}
@media only screen and (min-width: 360px) {
  h1 {
    font-size: 3em;
  }
}

